.welcome-page{
    font: bold;
    text-align: left;
    margin-left: 10px;
}
 
.btnSubmit
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 15%;
    margin: 15px;
    cursor: pointer;
    background: #0062cc;
    color: #fff;
}
 
.landing-page{
    text-align: center;
}
 
a{
    color: #fff;
}

