<div>
   <h5> Dear user,Please complete the folllowing form to register in Sacchon:</h5>
    <form [formGroup]= "form"(ngSubmit)= "onClickSubmit()">
        <div class = "form-group">
            <label for= "firstnameInput">First Name</label>
            <input type="text"class = "form-control" id="firstname-input" formControlName="firstName">     
        </div>

    
        <div class = "form-group">
            <label for= "lastnameinput">Last Name</label>
            <input type="text"class = "form-control" id="lastname-input" formControlName="lastName">     
        </div>

        <div class = "form-group">
            <label for= "roleInput">Role</label>
            <input type="text"class = "form-control" id="role-input" formControlName="role">     
        </div>

        
        <div class = "form-group">
            <label for= "usernameInput">User Name</label>
            <input type="text"class = "form-control" id="usename-input" formControlName="username">     
        </div>

        <div class = "form-group">
            <label for= "passwordInput">Password</label>
            <input type="text"class = "form-control" id="password-input" formControlName="password">     
        </div>

        <button class = "btn btn-primary">Submit</button>

    </form>
</div>