<div>
    <form [formGroup]= "form"(ngSubmit)= "onClickSubmit()">
        <div class = "form-group">
            <label for= "firstname-input">First Name</label>
            <input type="text"class = "form-control" id="firstname-input" formControlName="firstname">     
        </div>

        <div class = "form-group">
            <label for= "lastname-input">Last Name</label>
            <input type="text"class = "form-control" id="lastname-input" formControlName="lastname">     
        </div>

        <div class = "form-group">
            <label for= "role-input">Role</label>
            <input type="text"class = "form-control" id="role-input" formControlName="role">     
        </div>

        
        <div class = "form-group">
            <label for= "username-input">User Name</label>
            <input type="text"class = "form-control" id="usename-input" formControlName="username">     
        </div>

        <div class = "form-group">
            <label for= "password-input">Password</label>
            <input type="text"class = "form-control" id="password-input" formControlName="password">     
        </div>

        <button class = "btn btn-primary">Submit</button>

    </form>
</div>