#home {
    padding-top: 18px;
    padding-right: 0px;
    padding-bottom: 15px;
    padding-left: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  #account {
    padding-top: 18px;
    padding-right: 0px;
    padding-bottom: 15px;
    padding-left: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }