<!-- <div>
    <form [formGroup]= "form"(ngSubmit)= "onClickSubmit()">
        <div class = "form-group">
            <label for= "firstnameInput">First Name</label>
            <input type="text"class = "form-control" id="firstname-input" formControlName="firstName">     
        </div>

    
        <div class = "form-group">
            <label for= "lastnameinput">Last Name</label>
            <input type="text"class = "form-control" id="lastname-input" formControlName="lastName">     
        </div>

        <div class = "form-group">
            <label for= "roleInput">Role</label>
            <input type="text"class = "form-control" id="role-input" formControlName="role">     
        </div>

        
        <div class = "form-group">
            <label for= "usernameInput">User Name</label>
            <input type="text"class = "form-control" id="usename-input" formControlName="username">     
        </div>

        <div class = "form-group">
            <label for= "passwordInput">Password</label>
            <input type="text"class = "form-control" id="password-input" formControlName="password">     
        </div>

        <button class = "btn btn-primary">Submit</button>

    </form>
</div> -->












<!-- <app-doctor-nav></app-doctor-nav> -->
  

  <div style="width:100%; margin-bottom: 5%;">

    <div class="container-fluid">
                <div id="c" class="col-md-6 offset-md-3"> 
                    <h3 style="text-align: center;">Account Information</h3>
                    
                    <form [formGroup]="form">
                        <div class="row">
                        <div class="form-group col-md-6">
                            <label>First Name*</label>
                            <input id="firstName" type="text" formControlName="firstName" class="form-control" value=doctor.firstname/>
                        </div>
    
                        <div class="form-group col-md-6">
                            <label>Last Name*</label>
                            <input  id="lastName" type="text" formControlName="lastName" class="form-control" value=doctor.lastname/>
                         </div>
    
                        <div class="form-group col-md-6">
                            <label>Password*</label>
                            <input  id="password" type="password" formControlName="password" class="form-control"value=doctor.password/>
                            
                            </div>
                        </div>

<!--                        
                        <div class="form-group col-md-6 " style="margin: 10px; justify-content: center;">
                        
                            <button  type="submit" (click)="editDoctor()" class="btn btn-primary" >Confirm changes</button>
                    </div>

                    <div class="form-group col-md-5 " style="margin: 10px; justify-content: end; ">
                             
                            <button  type="submit" (click)="deleteDoctor()" class="btn btn-danger" >Deactivate</button>
                    </div>  -->

                    </form>
                </div>
            </div>
        </div>