
<header>
       </header>
     
     <div class="container-fluid">
      <div class="row">
      <div  class="col-md-8">
        <div id="bg" style="width:100%;" > 
        </div>          
      </div>
        <div  id="right" class="col-md-4">
          <div> 
            <h1>Sacchon</h1>
              <h4>A Diabetes Management Web Application</h4>
            <p>Diabetes mellitus (DM), 
              commonly known as diabetes, 
              is a group of metabolic disorders characterized 
              by a high blood sugar level over a prolonged period of time.
              Symptoms often include frequent urination, 
              increased thirst, and increased appetite.
            </p>
            <div>
              <a type="button" class="btn btn-primary" target="_blank" href="https://www.who.int/health-topics/diabetes#tab=tab_1" >Learn More</a>
            </div>
  
          </div>          
        </div>  
  </div>
  </div>
  
  <section id="Services">
    <div class="container-fluid">
      <div class="row text-center">
        <div class="col-md-12">
            <h5  style="color:#007cc2;"> Sacchon Medical Services</h5>              
        </div>
      </div>
      <div class="row py-2 text-center" id="service">
          <div class="col-6 col-md-3">
            <img src="/assets/images/icon2.png" style="width:70px;">
            <h6>Data Monitoring</h6>
          </div>
          <div class="col-6 col-md-3">
            <img src="/assets/images/icon3.png" style="width:70px;">
              <h6>Doctor Consulting</h6>
          </div>
          <div class="col-6 col-md-3">
            <img src="/assets/images/icon1.png" style="width:70px;">
            <h6 class="text">Medical Data</h6>
          </div>
          <div class="col-6 col-md-3">
            <img src="/assets/images/icon4.png" style="width:70px;">
            <h6>Prescriptions Provision</h6>
          </div>
      </div>
    </div>   		