<!-- <button class = "btn btn-primary" (click) = "getMyProfile()">GET MY PROFILE</button> -->


     <h5>Welcome doctor {{doctor.firstName}} {{doctor.lastName}}!</h5>
<div class = "row">
  <div class="col-sm-4"></div>

   
    
&nbsp;
      <ul class="list-group">
        <table class="table" title="My patients">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">My patients</th>
              <th scope="col"></th>
            </tr>
            <tr>
              <th scope="col">Firstname</th>
              <th scope="col">Lastname</th>
              <th scope="col">Username</th>
              <th scope="col"></th>

            </tr>
          </thead>
          <tbody *ngFor="let patient of patients">
            <tr>
              <!-- <th scope="row"></th> -->
              <td>{{patient.firstName}}</td>
              <td>{{patient.lastName}}</td>
              <td>{{patient.username}}</td>
              <td><button type="button" class="btn btn-outline-info">Data</button>
              </td>
            
            </tr>
        
          </tbody>
        </table>
      </ul>          
    </div>
